

PRODUCT_BUNDLE_IDENTIFIER = com.shopify.SampleProject
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
TARGETED_DEVICE_FAMILY = 1,2
CODE_SIGN_STYLE = Automatic
LD_RUNPATH_SEARCH_PATHS = ["$(inherited)", "@executable_path/Frameworks"]
PRODUCT_NAME = $(TARGET_NAME)
DEVELOPMENT_TEAM = 6ZYNJZSY2C
INFOPLIST_FILE = SampleProject/Info.plist
SWIFT_VERSION = 4.2

