

PRODUCT_BUNDLE_IDENTIFIER = com.shopify.SampleProjectTests
TARGETED_DEVICE_FAMILY = 1,2
CODE_SIGN_STYLE = Automatic
TEST_HOST = $(BUILT_PRODUCTS_DIR)/SampleProject.app/SampleProject
PRODUCT_NAME = $(TARGET_NAME)
LD_RUNPATH_SEARCH_PATHS = ["$(inherited)", "@executable_path/Frameworks", "@loader_path/Frameworks"]
BUNDLE_LOADER = $(TEST_HOST)
INFOPLIST_FILE = SampleProjectTests/Info.plist
SWIFT_VERSION = 4.2
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
DEVELOPMENT_TEAM = 6ZYNJZSY2C

